.container {
  max-width: 100%;
  background: #f3f3f3;
}

.sideCol {
  /* max-width: 20%; */
  max-width: 200px;
  padding-right: 220px;
  background: #d8d8d8;
}

.notesCol {
  padding-top: 50px;
  max-width: 65%;
}

.notesText {
  padding-bottom: 25px;
}
